<picture itemscope itemtype="http://schema.org/ImageObject">
    {{- $destination := .Destination | strings.TrimSuffix "#center" -}}

    {{- $avifPath:= replace (replace $destination ".jpg" ".avif") ".png" ".avif" -}}
    {{- with $img := .Page.Resources.GetMatch $avifPath }}
    <source srcset="{{ $img.RelPermalink }}" type="image/avif">
    {{- end -}}

    {{- $webpPath:= replace (replace $destination ".jpg" ".webp") ".png" ".webp" -}}
    {{- with $img := .Page.Resources.GetMatch $webpPath }}
    <source srcset="{{ $img.RelPermalink }}" type="image/webp">
    {{- end -}}

    {{- with $img := .Page.Resources.GetMatch $destination -}}

        {{- $srcset := slice -}}
        {{- if ge $img.Width "1200" -}}
            {{- $srcset = $srcset | append (printf "%s 1200w" ($img.Resize "1200x").RelPermalink) -}}
        {{- end -}}
        {{- if ge $img.Width "726" -}}
            {{- $srcset = $srcset | append (printf "%s 726w" ($img.Resize "726x").RelPermalink) -}}
        {{- end -}}
        {{- if ge $img.Width "458" -}}
            {{- $srcset = $srcset | append (printf "%s 458w" ($img.Resize "458x").RelPermalink) -}}
        {{- end }}
    <img
        srcset="{{ delimit $srcset ",\n" }}"
        sizes="50vw"
        src="{{ $img.RelPermalink }}"
        alt="{{ $.Text }}"
        loading="lazy"
        decoding="async"
    />
    <meta itemprop="width" content="{{ $img.Width }} px">
    <meta itemprop="height" content="{{ $img.Height }} px">
    <link itemprop="contentUrl" href="{{ $img.RelPermalink }}">
    <meta itemprop="description" content="{{ $.Text }}">
    {{- end -}}
</picture>
