<picture>
    {{ $avifPath:= replace .Destination ".jpg" ".avif" | replace ".png" ".avif" | strings.TrimSuffix "#center" }}
    {{ $avifPathStatic:= printf "static/%s" $avifPath }}

    {{ if (fileExists $avifPathStatic) -}}
    <source srcset="{{ $avifPath | safeURL }}" type="image/avif">
    {{- end }}

    {{ $webpPath:= replace .Destination ".jpg" ".webp" | replace ".png" ".webp" | strings.TrimSuffix "#center" }}
    {{ $webpPathStatic:= printf "static/%s" $webpPath }}

    {{ if (fileExists $webpPathStatic) -}}
    <source srcset="{{ $webpPath | safeURL }}" type="image/webp">
    {{- end }}

    <img
        src="{{ .Destination | safeURL }}"
        alt="{{ .Text }}"
        loading="lazy"
        decoding="async"
    {{ if not (strings.HasSuffix .Destination ".svg")}}
    {{ $img := imageConfig (add "/static" (.Destination | safeURL | strings.TrimSuffix "#center")) }}
        width="{{ $img.Width }}"
        height="{{ $img.Height }}"
    {{ end }}
    />
</picture>