<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">

{{ if .IsHome -}}
    {{- with .Site.Params.image }}
    {{ $img := imageConfig (add "/static" ( . | safeURL )) }}
<meta property="og:image" content="{{ . | absURL }}" />
<meta property="og:image:width" content={{ $img.Width }} />
<meta property="og:image:height" content={{ $img.Height }} />
    {{- end }}
    {{- with .Site.Params.description }}
<meta property="og:image:alt" content="{{ . }}" />
    {{- end }}
{{- else if .IsPage -}}
    {{- if .Param "coverart" -}}
        {{ $img := .Page.Resources.GetMatch (.Param "coverart") -}}
            {{- if $img -}}
<meta property="og:image" content="{{ $img.Permalink }}" />
<meta property="og:image:width" content={{ $img.Width }} />
<meta property="og:image:height" content={{ $img.Height }} />
            {{- else }}
                {{ errorf "coverart image not found for %+v: %s" (.Page.Title) (.Param "coverart") }}
            {{- end }}
        {{- if $.Param "coveralt" -}}<meta property="og:image:alt" content="{{ $.Param "coveralt" }}" />{{- end -}}
    {{- else -}}
        {{ $img := imageConfig (add "/static" (.Site.Params.image | safeURL )) }}
<meta property="og:image" content="{{ .Site.Params.image | absURL }}" />
<meta property="og:image:width" content={{ $img.Width }} />
<meta property="og:image:height" content={{ $img.Height }} />
<meta property="og:image:alt" content="{{ .Site.Params.description }}" />
    {{- end -}}
{{- end -}}
<script defer data-api="/api/event" data-domain="terrty.net" src="/p.js"></script>
