{{ define "title" }}{{ i18n "archive" }} - {{ .Site.Title }}{{ partial "page_suffix.html" . }}{{ end }}

{{ define "content"}}
{{- $paginator := partial "list_paginator.html" . }}
<section id="archive" class="archive" itemscope itemtype="https://schema.org/ItemList">
  {{- if not $paginator.HasPrev }}
    <div class="archive-title">
      <span class="archive-post-counter">
        {{- $length := len .Data.Pages }}
          {{ i18n "counter_archives" $length }}
      </span>
    </div>
  {{- end -}}

  {{- range $index, $element := $paginator.Pages -}}
    {{- $thisYear := $element.Date.Format "2006" }}
    {{- $lastElement := $index | add -1 | index $paginator.Pages }}
    {{ if or (eq $index 0) ( ne ($lastElement.Date.Format "2006") $thisYear ) }}
      <div class="collection-title">
        <h2 class="archive-year">{{ $thisYear }}</h2>
      </div>
    {{- end }}

    <div class="archive-post" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <meta itemprop="position" content="{{ add $index 1 }}" />
      <div itemprop="item" itemscope itemtype="https://schema.org/BlogPosting">
        <link itemprop="url" href="{{ $element.Permalink }}" />
        <meta itemprop="headline" content="{{ $element.Title }}" />
        <meta itemprop="datePublished" content="{{ $element.Date.Format "2006-01-02T15:04:05Z07:00" }}" />
        <time datetime="{{ .Date.Format "2006-01-02" }}" class="archive-post-time">
          {{ .Date | time.Format ($.Site.Params.dateFormatToUse | default "2006-01-02") }}
        </time>
        <span class="archive-post-title">
          <a href="{{ $element.RelPermalink }}" class="archive-post-link">
            {{ .Title }}
          </a>
        </span>
      </div>
    </div>
  {{- end -}}
</section>

<!-- pagination -->
{{ partial "pagination.html" . }}

{{ end }}
