@mixin underline-from-center() {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 2px;
    bottom: 0;
    left: 51%;
    right: 51%;
    background: $theme-color;
    transition-duration: 0.2s;
    transition-property: right, left;
    transition-timing-function: ease-out;
  }

  &.active,
  &:active,
  &:focus,
  &:hover {
    &:before {
      right: 0;
      left: 0;
    }
  }
}

@mixin mobile-menu-icon() {
  span {
    position: absolute;
    left: calc((100% - 20px) / 2);
    top: calc((100% - 1px) / 2);
    width: 20px;
    height: 1px;
    background-color: $theme-color;
    transition: transform 0.5s ease, opacity 0.2s ease;

    &:nth-child(1) {
      transform: translateY(6px) rotate(0deg);
    }

    &:nth-child(3) {
      transform: translateY(-6px) rotate(0deg);
    }
  }
}