<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">

{{ if .IsHome -}}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{ .Site.BaseURL }}",
    {{- if or .Site.Params.author.name .Site.Author.name }}
        "author": {
            "@type": "Person",
            "name": "{{ or .Site.Params.author.name .Site.Author.name }}"
        },
    {{- end }}
    {{- if .Site.Params.description }}
        "description": "{{ .Site.Params.description }}",
    {{- end }}
    {{- with .Site.Params.image }}
        "image": "{{ . | absURL }}",
    {{- end }}
    {{- with .Site.Params.logo }}
        "thumbnailUrl": "{{ . | absURL }}",
    {{- end }}
    {{- with .Site.Copyright }}
        "license": "{{ . }}",
    {{- end }}
        "name": "{{ .Site.Title }}"
    }
</script>
    {{- with .Site.Params.image }}
    {{ $img := imageConfig (add "/static" ( . | safeURL )) }}
<meta property="og:image" content="{{ . | absURL }}" />
<meta property="og:image:width" content={{ $img.Width }} />
<meta property="og:image:height" content={{ $img.Height }} />
    {{- end }}
    {{- with .Site.Params.description }}
<meta property="og:image:alt" content="{{ . }}" />
    {{- end }}
{{- else if .IsPage -}}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ .Title }}",
        "genre": "{{ .Type }}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Permalink }}"
        },
        "wordCount": {{ .WordCount }},
        "url": "{{ .Permalink }}",
    {{- if .Param "coverart" -}}
        {{- $img := .Page.Resources.GetMatch (.Param "coverart") -}}
            {{- if $img -}}
        "image": {
            "@type": "ImageObject",
            "url": "{{ $img.Permalink }}",
            "width": "{{ $img.Width }} px",
            "height": "{{ $img.Height }} px"
        },
            {{- else }}
                {{ errorf "coverart image not found for %+v: %s" (.Page.Title) (.Param "coverart") }}
            {{- end }}
    {{- else }}
        {{ $img := imageConfig (add "/static" (.Site.Params.image | safeURL )) }}
        "image": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.image | absURL }}",
            "width": "{{ $img.Width }} px",
            "height": "{{ $img.Height }} px"
        },
    {{- end }}
    {{- with .Params.tags }}
        "keywords": "{{ delimit . ", " }}",
    {{- end }}
    {{- if not .PublishDate.IsZero }}
        "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
    {{- else if not .Date.IsZero }}
        "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
    {{- end }}
    {{- with .Lastmod }}
        "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
    {{- end }}
    {{- with .Site.Copyright }}
        "license": "{{ . }}",
    {{- end }}
        "publisher": {
            "@type": "Organization",
            "name": "{{ or .Site.Params.author.name .Site.Author.name }}",
    {{- with .Site.Params.logo }}
        {{ $img := imageConfig (add "/static" (. | safeURL )) }}
        "logo": {
            "@type": "ImageObject",
            "url": "{{ . | absURL }}",
            "width": "{{ $img.Width }} px",
            "height": "{{ $img.Height }} px"
        }
    {{- end }}
        },
    {{- if or .Site.Params.author.name .Site.Author.name }}
        "author": {
            "@type": "Person",
            "name": "{{ or .Site.Params.author.name .Site.Author.name }}"
        },
    {{- end }}
        "description": "{{ .Description }}"
    }
</script>
    {{- if .Param "coverart" -}}
        {{ $img := .Page.Resources.GetMatch (.Param "coverart") -}}
            {{- if $img -}}
<meta property="og:image" content="{{ $img.Permalink }}" />
<meta property="og:image:width" content={{ $img.Width }} />
<meta property="og:image:height" content={{ $img.Height }} />
            {{- else }}
                {{ errorf "coverart image not found for %+v: %s" (.Page.Title) (.Param "coverart") }}
            {{- end }}
        {{- if $.Param "coveralt" -}}<meta property="og:image:alt" content="{{ $.Param "coveralt" }}" />{{- end -}}
    {{- else -}}
        {{ $img := imageConfig (add "/static" (.Site.Params.image | safeURL )) }}
<meta property="og:image" content="{{ .Site.Params.image | absURL }}" />
<meta property="og:image:width" content={{ $img.Width }} />
<meta property="og:image:height" content={{ $img.Height }} />
<meta property="og:image:alt" content="{{ .Site.Params.description }}" />
    {{- end -}}
{{- end -}}
<script defer data-api="/api/event" data-domain="terrty.net" src="/p.js"></script>
